/*
white = #FFFFFF
*/

/* global styles */


/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.clear {
  clear: both;
}

body {
  font-family: "adobe-garamond-pro",serif;
  font-size: 100%;
  color: #4B4B4B;
  height: 100%;
  width: 100%;

}

.center {
  text-align: center;
}

.background {
  border-left: solid 1em #D1B471;
  border-right: solid 1em #D1B471;
  border-bottom: solid 1em #D1B471;
  padding-bottom: 6.1875em; /*99/16*/
  /* transition: border-top 200ms, border-right 200ms, border-bottom 200ms; */
}

.background-border-top {
  content: ' ';
  width: 100%;
  height: 1em;
  display: block;
  background-color: #D1B471;
}

.background-border-top--fixed {
  position: fixed;
  top: 0;
}

h1 {
  font-family: "eurostile-extended",sans-serif;
  font-weight: 900;
  font-size: 4em; /* 64 / 16 = 4 */
}



/* navigation styles */
.global-header {
  width: 100%;
  background: linear-gradient(180deg, #393838 20%, rgba(0,0,0,0) 100%);
  height: 118px;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  z-index: 1;
}

.container {
  width: 95.1388888888889%;
  /* width: 100%; */
}

.brand {
  font-family: "eurostile",sans-serif;
  font-weight: 400;
  font-size: 2em; /* 32/16 = 2em */
  margin-left: 1.09375em; /*35/32 */
  margin-top: 1.25em; /*36/32*/
  /* line-height: .125em; */
  padding: 0;
  color: #FFFFFF;
  float: left;
}
.brand a {
  font-weight: 400;
}

/* .menu-toggle {
  display: none;
} */

.site-nav {
  height: auto;
  position: relative;
  background: transparent;
  float: right;
  margin-top: 1.6875em; /*27/16*/
}

.site-nav li {
  border-bottom: none;
  padding: 0;
  display: inline;
}

.site-nav a {
  display: inline-block;  
  /* padding: 1.5em 2em;   */
  padding: 1.5em;
}

.site-nav a:hover {
  background-color: transparent;
  text-shadow: 0 4px 4px rgba(0,0,0,0.5);
  color: inherit; 
}

.site-nav a:focus {
  color: inherit;
}

.site-nav a:visit {
  color: #FFFFFF;
}

.sub-nav {
  position: absolute;
  top:100%;
  background-color: #393838;
  height: 0;
  overflow: hidden;
}

.sub-nav--open {
  height: auto;
}

.sub-nav li {
  display: block;
  border-bottom: 1px solid #575766;
}

.sub-nav a {
  display:block;
  padding: 1em 6em;
}

.sub-nav li:last-child {
  border-bottom: none;
}

.sub-nav a:hover,
.sub-nav a:focus {
  background-color: #D1B471;
  color: #4B4B4B;
}

#dropdown {
  cursor: pointer;
  /* border-bottom: none; */
}


.nav-up {
  top: -118px;
}

/* #dropdown {
  border-bottom: 1px solid #575766;
} */
/* END navigation */

/* social menu */
.social {
  position: fixed;
  left: 1.8em;
  top: 40%;
  font-size: 1.25em;  
}

.social li {
  padding-bottom: 1.111111111111111em;
  display: block;
}

.social a:link,
.social a:visited {
  color: inherit;
}
/* end social menu */

/* dot nav */
.dot-nav {
  position: fixed;
  right: 1.8em;
  top: 40%;
  z-index: 1;
}

.dot-nav li {
  display: block;
  text-align: right;
  padding-bottom: 1.111111111111111em; 
}

.dot-nav a {
  display: block;
}

.dot-nav--label {
  position: absolute;
  margin-right: 1em;
  right: 1em;
  padding: 1em 2em;
  /* color: white; */
  background: #393838;
  border: 1px solid #575766;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: transform 0.2s, opacity 0.2s;
  opacity: 0;
  width: 10em;
  text-align: center;

  /* -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%; */
}

.dot-nav--dot {
  display: inline-block;
  width: .75em;
  height: .75em;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #575766;
  transition: background-color 0.2s, opacity 0.2s, width 0.4s, height 0.4s;  
}

.volume-1-dot-gold {
  box-shadow: inset 0 0 0 2px #D1B471;  
}

.volume-2-dot-purple {
  box-shadow: inset 0 0 0 2px #9013FE;
}

a:active .dot-nav--dot {
  background-color: #393838;
  width: 1.25em;
  height: 1.25em;
}

a:hover .dot-nav--dot {
  background-color: #575766;
  width: 1.25em;
  height: 1.25em;
}

a:hover .dot-nav--label {
  opacity: 1;
}
/* end dot nav */

.ad-space {
  margin: 0 90%;
}


h2, h3, h4, h5 {
  font-family: "eurostile",sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

a, .site-nav li {
  font-family: "eurostile",sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

h2 {
  font-size: 2em; /* 32/16 = 2em */
  line-height: 1.25em
}

h4 {
  font-size: 1.125em /* 18/16 = 1.125em */
}

p {
  line-height: 1.5em; /* 24/16 = 1.5em */
}


a:link {
    text-decoration: none;
    color: #EBEBEB;
    
}

a:visited {
    text-decoration: none;
    color: #EBEBEB;
}

a:active {
    text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

section img {
  margin: 0 0 3em 0;
}

/* parallax */
.parallax-bg {
  transition: initial;
}

/* header */
.hero {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  /* min-height: 37.5em; */
  z-index: 0;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.hero-image--home {
  background-image: url("../images/homepage/DialecticJumbotron.jpg");  
}
.hero-image--volume1 {
  background-image: url("../images/reading-images/heroImageVolume1.jpg");    
}
.hero-image--volume2 {
  background-image: url("../images/reading-images/heroImageVolume2.jpg");    
}

.hero-text {
  text-shadow: 0 4px 4px rgba(0,0,0,0.5);
  position: absolute;
  left: 0;
  top: 32.7521793275218%; /* 263/803 */
  width: 100%;
  color: #000;
  text-align: center;
}
.display {
  font-family: "eurostile-extended",sans-serif;
  font-weight: 900;
  font-size: 6em; /* 96 / 16 = 6 */
  letter-spacing: 0.03645833333em; /* 3.5 / 96 */
  margin-bottom: 0.4166666667em; /* 40 / 96 */
  padding-left: .25em;
}

.display-subtext {
  margin-bottom: 3em;
}

/* colors */
.white {
  color: #FFFFFF;
}
.off-white {
  color: #EBEBEB
}
.black {
  color: #4B4B4B;
}
.black:visited {
  color: #4B4B4B;  
}
.dark-grey {
  color: #4B4B4B;
}
.gold {
  color: #D1B471;
}
.purple {
  color: #9013FE;
}
.blue {
  color: #1893E7;
}
.black-brand {
  color: #051526;
}

.gold-background {
  background-color: #D1B471;
}
.purple-background {
  background-color: #9013FE;
}
.blue-background {
  background-color: #1893E7;
}

.white-border {
  border: 2px solid #FFFFFF;  
}

/* content sections */
.main {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.content-section {
  min-height: 100%;
  padding: 4.25em 0;
}

.content-section h2 {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.content-section h4 {
  margin-bottom: 1em;
}

.content-right {
  width: 40.17094017%; /* 470/1170 = 0.4017094017 */
  float: right;
}

.content-left {
  width: 40.17094017%;  /* 470/1170 = 0.4017094017 */
  float: left;
}

.content-left p,
.content-right p {
  margin-bottom: 2.5em;
}

/* individual volume pages */
.page-wrapper {
  width: 67.36111111%; /* 970/1440 */
  margin: auto;
  /* margin-top: 2.25em; 36/16 */
  position: relative;
  top: -30.54420922%; /* 630/803 */  
  font-size: 1.3125em; /* 21/16 */
  z-index: 0;

}

.page {
  position: relative;
  top: 0;
  padding-top: 5.1428571429em;
  background-color: #FFFFFF;    
  /* background-color: #ffffff; */
  -webkit-clip-path: polygon(169px 0, 100% 0, 100% 100%, 0% 100%, 0 169px);
  clip-path: polygon(169px 0, 100% 0, 100% 100%, 0% 100%, 0 169px);  
  margin-bottom: 9em;
  
}

.page--corner-1 {
  height: 169px;
  width: 169px;
  position: absolute;
  top: 0em;
  background-color: rgba(255,255,255,0.2);
  z-index: 2;
  -webkit-clip-path: polygon(100% 0, 0% 100%, 0 0);
  clip-path: polygon(100% 0, 0% 100%, 0 0);
  /* background-color: red; */
}

.number {
  position: absolute;
  top: 0;
  left: 1.0952380952em; 
}

.number h2 {
  font-size: 3.4285714286em;
  line-height: .75em;
}

.page p, h3 {
  margin: 0 6.1875em; /* 99/16 */
  margin-bottom: 1em;
}

.chapter p:last-of-type {
  margin-bottom: 9em;
}
/* end individual volume pages */



/* button styles */
.btn {
  display: inline-block;
  text-align: center;
  padding: 1.5em 6em;
  text-shadow: initial;
  border-radius: 48px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.15s ease-in-out;
  margin: 0 auto 2.5em auto;
}

.btn:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: box-shadow 0.15s ease-in-out;
}

/* media query for site nav large desktop */
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1300px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (                min-resolution: 192dpi) and (min-width: 1300px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1300px) { 

  /* Large screen, retina, stuff to override above media query */
  .hero-image--home {
    background-image: url("../images/homepage/DialecticJumbotron@2x.jpg");  
  }
  .hero-image--volume1 {
    background-image: url("../images/reading-images/heroImageVolume1@2x.jpg");    
  }
  .hero-image--volume2 {
    background-image: url("../images/reading-images/heroImageVolume2@2x.jpg");    
  }
}

/* media query for site nav tablet */
@media (max-width: 1024px) {

  /* text styles */
  body {
    font-size: 1.125em; /* 18 is the new context */
  }

  h2 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1em;
  }
  .display {
    font-size: 5em;
    padding-left: 0;
    letter-spacing: initial;
    line-height: .6;
    padding-left: 0;
  }

  .display-subtext {
    font-size: 1em;
  }

  .btn {
    font-size: .9em;
  }

  .volume-title {
    font-size: 2.75em;
  }
  /* end text styles */
  

  /* header */
  .hero {
    position: static;
    background-attachment: scroll;    
    background-position: left;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
  }

  /* navigation styles */
  /* menu toggle for nav dropdowns */
  .brand {
    font-size: 1.7777777778em;
  }
  .menu-toggle {
    padding: .905em 1em;
    position: absolute;
    right: 2.1875em;
    top: 2em;
    cursor: pointer;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    content: '';
    display: block;
    height: 2px;
    width: 1.75em;
    background: #EBEBEB;
    transition: all ease-in-out 200ms;
  }

  .hamburger::before {
    transform: translateY(-8px);
  }

  .hamburger::after {
    transform: translateY(6px);
  }

  .open .hamburger {
    transform: rotate(135deg);
  }

  .open .hamburger::before {
    transform: rotate(270deg);
  }

  .open .hamburger::after {
    opacity: 0;    
  }
  /*end menu toggle */

  /* .sub-nav {
    display: block;
    position: absolute;
  } */

  .site-nav {
    position: absolute;
    top: 70%;
    right: 0%;
    background: #393838;
    float: right;
    height: 0;
    overflow: hidden;
  }

  .site-nav--open {
    height: auto;
  }

  .site-nav a:hover,
  .site-nav a:focus {
    background-color: #D1B471;
    color: #4B4B4B;
  }

  header::after {
    content: '';
    clear: both;
    display: block;
  }

  .site-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .site-nav li {
    display: block;
    border-bottom: 1px solid #575766;
  }

  .site-nav a {
    text-decoration: none;
    display: block;
    padding: 1em 6em;
    font-weight: 400;
  }

  .site-nav li,
  .site-nav a {
    font-size: .95em; /*16/21*/
  }
  .site-nav li:last-child {
    border-bottom: none;
  }

  .sub-nav {
    position: static;
    top:100%;
    background-color: #393838;
    height: auto;
  }

  .sub-nav li {
    display: block;
    border-bottom: none;
  }

  .sub-nav a {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 9em;
  }

  .sub-nav a:first-of-type {
    border-top: 1px solid #575766;
  }
  /* end navigation styles */

  /* dot nav for tablet and below */
  .dot-nav {
    position: fixed;
    top: 80%;
    height: auto;
  }

  .dot-nav--dot {
    display: none;
  }

  .dot-nav--label {
    position: initial;
    margin-right: 0;
    opacity: 1;
    padding: 1em;
    box-shadow: initial;
    transition: none;
    right: 1em;
    /* color: white; */
    /* background: #393838; */
    border: 1px solid #575766;
  }

  .dot-nav--label:hover,
  .dot-nav--label:active {
    background-color: #D1B471;
    
  }

  .dot-nav--menu {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    position: fixed;
    right: 6em;
    bottom: 8em;
    width: 5em;
    height: 0;
    overflow: hidden;
  }

  .dot-nav--open {
    height: auto;
    overflow: initial;
  }

  .dot-nav li {
    text-align: left;
    padding: 0;
  }

  .dot-nav--menu a {
    font-weight: 400;
    font-size: 0.8572222222em;
}
  .dot-nav a:hover,
  .dot-nav a:active {
    color: #4B4B4B;
  }
  
  .dot-nav--dot {
    display: none;
  }
  
  .dot-nav--toggle {
    position: fixed;
    right: 1em;
    bottom: 4em;
    height: 3em;
    width: 3em;
    /* border: 1px solid #DFDFDF; */
    border-radius: 50%;
    background-color: #4B4B4B; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 16px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 0px 16px 0px rgba(50, 50, 50, 0.5);
    
  }
  
  .ellipsis,
  .ellipsis::before,
  .ellipsis::after {
    content: '';
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background: white;
    display:block;
    transition: all ease-in-out 200ms;  
  }

  .ellipsis::before {
    transform: translateY(-8px);
  }
  
  .ellipsis::after {
    transform: translateY(4px);
  }

  .open .ellipsis,
  .open .ellipsis::before,
  .open .ellipsis::after  {
    height: 2px;
    width: 1.75em;
    border-radius: 0;
    transition: all ease-in-out 200ms;
    transform: rotate(135deg);    
  }

  .open .ellipsis::before {
    transform: rotate(270deg);
  }

  .open .ellipsis::after {
    opacity: 0;
  }



  /* end dot nav */

  /* social */
  .social {
    position: fixed;
    left: 1.8em;
    top: 40%;
    font-size: 1.25em;  
  }
  /* end social */

  .background {
    padding-bottom: 0;
    /* margin-bottom: 4.25em; */
  }
  
  /* content sections */
  .main {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    background-color: #FFFFFF;
  }

  

  .content-section h2 {
    margin-top: 0em;
    margin-bottom: .5em;
    text-align: center;
  }

  .content-section h4 {
    margin-top:1em;    
    margin-bottom: 1em;
    text-align: center;
  }

  .content-right,
  .content-left {
    width: 60%; 
    float: none;
    margin: auto;
  }

  .content-left p,
  .content-right p {
    margin-bottom: 2.5em;
  }

  .volume-cta {
    text-align: center;
  }

  #about p:first-of-type {
    margin-top: 1em;
  }
  /* end content sections */
  
  /* individual volume pages */
  .page-wrapper {
    width: 90%; /* 970/1440 */
    margin: auto;
    /* margin-top: 2.25em; 36/16 */
    position: relative;
    top: -30.54420922%; /* 630/803 */  
    font-size: 1em; /* 21/16 */
    z-index: 0;

  }
  
  .page {
    padding: 8em 3em 0 3em;    
  }

  .page p, h3 {
    margin: 4em 4em 1em 4em; /* */
  }
  /* end individual volume pages */

}

@media
only screen and (   min--moz-device-pixel-ratio: 2)      and (max-width: 1024px),
only screen and (-webkit-min-device-pixel-ratio: 2)      and (max-width: 1024px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (max-width: 1024px),
only screen and (        min-device-pixel-ratio: 2)      and (max-width: 1024px),
only screen and (                min-resolution: 192dpi) and (max-width: 1024px),
only screen and (                min-resolution: 2dppx)  and (max-width: 1024px) { 

  /* Medium screen, retina, stuff to override above media query */
  .hero-image--home {
    background-image: url("../images/homepage/TabletJumbotron@2x.jpg");  
  }
  .hero-image--volume1 {
    background-image: url("../images/reading-images/tabletHeroImageVolume1@2x.jpg");    
  }
  .hero-image--volume2 {
    background-image: url("../images/reading-images/tabletHeroImageVolume2@2x.jpg");    
  }

}

/*media for phone */
@media (max-width: 479px) {

  /* text styles */
  
  h1 {
    font-family: "eurostile-extended",sans-serif;
    font-weight: 900;
    font-size: 3em;
  }

  .volume-title {
    font-size: 2em;
  }

  .volume-number {
    font-size: 1em;
  }
  /* end text styles */
  

  /* header */

  .background {
    margin-bottom: 4.25em;
  }

  /* content sections */
  .main {
    width: 100%;
    max-width: 479px;
    margin: 0 auto;
    background-color: #FFFFFF;
  }

  .content-section h2 {
    margin-top: 1em;
    margin-bottom: .5em;
    text-align: center;
  }

  .content-section h4 {
    margin-top: 1em;    
    margin-bottom: 1em;
  }

  .content-right,
  .content-left {
    width: 80%; /* 345/768 */
    float: none;
    margin: auto;
  }


  .content-left p,
  .content-right p {
    margin-bottom: 2.5em;
  }

  
  /* end content sections */
 
  /* individual volume pages */
  
  .page {
    position: static;
    top: 0;
    padding: 5.1428571429em 0 0 0;
    background-color: #FFFFFF;    
    /* background-color: #ffffff; */
    -webkit-clip-path: polygon(75px 0, 100% 0, 100% 100%, 0% 100%, 0 75px);
    clip-path: polygon(75px 0, 100% 0, 100% 100%, 0% 100%, 0 75px);  
    
  }
  
  .page--corner-1 {
    display: none;
  }

  .page-wrapper {
    width: 100%; /* 970/1440 */
    position: static;
    top: 0
  }  

  .number h2 {
    font-size: 2.4285714286em;
    line-height: .75em;
  }

  .page p, h3 {
    margin: 0 1em; /* */
    margin-bottom: 1em;
  }
  /* end individual volume pages */

  /* social menu */
  .social {
    left: initial;
    top: initial;
    bottom: 0;
    width: 100%;
    font-size: 1.25em;
    border-top: 1px solid #E2E2E2;
    -webkit-box-shadow: 0px -1px 5px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px -1px 5px 1px rgba(0,0,0,0.1);
    box-shadow: 0px -1px 5px 1px rgba(0,0,0,0.1);
  }

  .social ul {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .social li {
    flex: 1 0 auto;
    text-align: center;
    background-color: white;
    padding: .5em 0;
    /* border: 1px solid black; */
  }

  .social li a:link,
  .social li a:visited {    
    color: inherit;
    padding: 1.5em 1.5em;
  }


/* end social menu */
}

/* retina and hi density displays */
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (max-width: 479px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (max-width: 479px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (max-width: 479px),
only screen and (        min-device-pixel-ratio: 2)      and (max-width: 479px),
only screen and (                min-resolution: 192dpi) and (max-width: 479px),
only screen and (                min-resolution: 2dppx)  and (max-width: 479px) { 

  /* Small screen, retina, stuff to override above media query */
  .hero-image--home {
    background-image: url("../images/homepage/MobileJumbotron@2x.jpg");  
  }
  .hero-image--volume1 {
    background-image: url("../images/reading-images/mobileHeroImageVolume1@2x.jpg");    
  }
  .hero-image--volume2 {
    background-image: url("../images/reading-images/mobileHeroImageVolume2@2x.jpg");    
  }
}